<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pragati+Narrow:wght@400;700&family=Rubik+Microbe&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main.css" />
    <title></title>
</head>

<body>
    <footer class="domus-footer">
        <!-- <div class="hero-overlay2"></div> -->
        <div class="footer-inner">

            <!-- LEFT SIDE -->
            <div class="footer-left">
                <div class="footer-logo-wrap">
                    <img src="assets/logo.png" alt="The Domus Logo" class="footer-logo">
                </div>
                <div class="footer-social">
                    <a href="#"><img src="assets/linkedin.png" alt="LinkedIn"></a>
                    <a href="#"><img src="assets/insta.png" alt="Instagram"></a>
                    <a href="#"><img src="assets/facebook.png" alt="Facebook"></a>
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="footer-right">
                <div class="explore">
                    <h3>Explore</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <h3>Get in touch</h3>
                    <p><span class="icon">📞</span> +91 9XXXX XXXXX</p>
                    <p><span class="icon">✉️</span> abc@gmail.com</p>
                    <p><span class="icon">📍</span> Seawoods, Navi Mumbai</p>
                </div>

                <div class="get-in-touch" style="visibility: hidden;">
                    <h3>Get in touch</h3>
                    <p><span class="icon">📞</span> +91 9XXXX XXXXX</p>
                    <p><span class="icon">✉️</span> abc@gmail.com</p>
                    <p><span class="icon">📍</span> Seawoods, Navi Mumbai</p>
                </div>
            </div>

        </div>
    </footer>
    <script src="main.js"></script>
    <!-- <script src="scroll.js"></script> -->
    <!-- Include GSAP + ScrollTrigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
</body>

</html>